<h1>Wikiknimous</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
    <%= link_to article.title, article_path(article) %>
    <%= link_to "Delete #{article.title}",
                article_path(article),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a New Task", new_article_path %>
